.navbar {
    display: flex;
    background-color: rgb(226, 209, 162);
    border-bottom: rgb(238, 178, 66) 10px solid;
    margin-bottom: 10px;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    z-index: 10;
    white-space: nowrap;
}

#navContainer{
    margin: 0;
    padding: 0;
}

#navContainer ul{
    margin: none;
    padding: 1px;
}

#navContainer li {
    display: inline; 
    list-style: none;
    padding-left: 100px;
    padding-right: 100px;
}
    
#navContainer ul a:link, #navContainer ul a:visited {
    text-decoration: none;
    color: white;
}

#navContainer ul a:hover {
    color: black;
}