#mainFooter {
    font-family: monospace;
    font-size: 15;
    color: white;
    background-color: rgb(226, 169, 162);
    padding: 10px;
    border-top: 5px rgba(247, 84, 84, 0.616) solid;
    margin: 0px;
}