.thirdPart {
    flex: 1;
    display:flex;
    flex-direction: row-reverse;
    border:rgba(231, 138, 131, 0.644) 10px solid;
    padding: 10px;
    margin: 10px;
    background-color: rgb(187, 221, 187);
}

.thirdPartWords {
    flex: 1;
    color:white;
    border: rgba(202, 178, 71, 0.644) 10px solid;
    background-color: rgb(151, 218, 151);
    padding: 15px;
    text-align: center;
}

.thirdPartImages {
    flex: 1.5;
}

#img5, #img6, #img7, #img8 {
    width: 300px;
    height: 180px;
    padding: 0px;
    border:rgba(202, 178, 71, 0.644) 10px solid;
    margin: 0.625rem;
    filter: grayscale(100%);
}

#img5:hover, #img6:hover, #img7:hover, #img8:hover {
    transition: 0.5s;
    transform: scale(1.05);
    border-color:rgba(231, 138, 131, 0.644);
    filter: grayscale(0%);
}