@import "_secondPart.scss";
@import "_thirdPart.scss";
@import "_fourthPart.scss";
@import "_lastPart.scss";
@import "_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

body {  /* display flex whole website to make column */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(rgb(248, 216, 156), peachpuff,white, peachpuff, rgb(248, 216, 156));
    margin: 0;
    font-family: 'Rye', cursive;
    position: absolute;
}

.navbar {
    display: flex;
    background-color: rgb(226, 209, 162);
    border-bottom: rgb(238, 178, 66) 10px solid;
    margin-bottom: 10px;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    z-index: 10;
    white-space: nowrap;
}

#navContainer{
    margin: 0;
    padding: 0;
}

#navContainer ul{
    margin: none;
    padding: 1px;
}

#navContainer li {
    display: inline; 
    list-style: none;
    padding-left: 100px;
    padding-right: 100px;
}
    
#navContainer ul a:link, #navContainer ul a:visited {
    text-decoration: none;
    color: white;
}

#navContainer ul a:hover {
    color: black;
}

.mainHeader { /*display flex main header in order to make subtitle */
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-image: url(/images/romeBackground.jpg); 
    background-size: cover;
    height: 18vh;
    margin: auto;
    border: rgb(238, 178, 66) 10px solid;
    width: 89%;
    padding-top: 100px;
    padding-bottom: 300px;
}

.mainHeaderTitle {
    font-size: 40;
    color: white;
    letter-spacing: 0.3em;
    word-spacing: 0.5em;
    padding-bottom: 30px;
    transition-duration: 0.8s;
}

.mainHeaderSub {
    font-weight: lighter;
    font-size: 20;
    color: white;
    transition-duration: 0.8s;
}

.mainHeaderTitle:hover, .mainHeaderSub:hover {
    transform: translateY(-10px);
}

.secondPartHeader, .thirdPartHeader, .fourthPartHeader {
    font-size:30;
}

.secondPartSub, .thirdPartSub, .fourthPartSub {
    font-weight: lighter;
    font-size: 20;
    line-height: 2em;
}

@media (max-width: 1276px) {
    .secondPartHeader, .thirdPartHeader, .fourthPartHeader {
        font-size: 60;
    }
    .secondPartSub, .thirdPartSub, .fourthPartSub {
        font-size: 30;
    }
    .secondPartImages, .thirdPartImages, .fourthPartImages {
        flex: 0.5;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    #navContainer li {
        font-size: 35;
        padding-left: 50px;
        padding-right: 50px;
    }
    .mainHeaderTitle {
        font-size: 60;
    }
    .mainHeaderSub {
        font-size: 45;
    }
    .secondPartSub, .thirdPartSub, .fourthPartSub {
        font-size: 35;
    }
}